.idea/
.vscode/
.DS_Store
terraform-provider-spectrocloud.code-workspace

# Internal knowledge base documentation
knowledge_base/
.cache/

bin
__debug_bin*
profile.cov

terraform.tfplan
terraform.tfstate
*.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfvars

kubeconfig_*

.local
dist
providers

# ignore for mock api server
mock_server.crt
mock_server.key
MockBuild
mock_api_server.log