---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

~> **Provider feature flag:** Set `feature_flag.disable_addon_deployment_resource = true` in the [provider configuration](../index.md#feature-flags) to disallow this resource during plan and apply.

## Example Usage

```hcl
resource "spectrocloud_addon_deployment" "example" {
  cluster_uid = "cluster-uid"
  context     = "project"

  cluster_profile {
    id = "cluster-profile-uid"
  }
}
```


{{ .SchemaMarkdown | trimspace }}