---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Projects"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

You can set up a maximum of two alerts for cluster health per project. A webhook can be configured in the HTTP component,
and for email. You can add a target email recipient or enable alerts for all users in the corresponding project.

{{ tffile "examples/Projects/Project Settings/Alert/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}