---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

### Secret Credentials

```terraform
resource "spectrocloud_cloudaccount_aws" "aws_secret" {
  name                   = "aws-account-secret"
  type                   = "secret"
  aws_secured_access_key = var.aws_access_key # or aws_access_key=<access_key>
  aws_secret_key         = var.aws_secret_key
  partition              = "aws"
  policy_arns            = ["arn:aws:iam::123456789012:policy/CustomPolicy"]
}
```

### STS Credentials

```terraform
resource "spectrocloud_cloudaccount_aws" "aws_sts" {
  name        = "aws-account-sts"
  type        = "sts"
  arn         = "arn:aws:iam::123456789012:role/SpectroCloudRole"
  external_id = "externalId123"
  partition   = "aws"
}
```

### EKS Pod Identity

```terraform
resource "spectrocloud_cloudaccount_aws" "aws_pod_identity" {
  name                      = "aws-account-pod-identity"
  type                      = "pod-identity"
  role_arn                  = "arn:aws:iam::123456789012:role/EKSPodIdentityRole"
  permission_boundary_arn   = "arn:aws:iam::123456789012:policy/PermissionBoundary"
  partition                 = "aws"
}
```

## Import

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import)
to import the resource {{ .Name }} by using its `id` with the Palette `context` separated by a colon. For example:

```terraform
import {
  to = {{ .Name }}.example
  id = "example_id:context"
}
```

Using `terraform import`, import the cloud account using the `cloud_account_name` or  `id` colon separated with `context`. For example:

```console
terraform import {{ .Name }}.{cloud_account_uid}/{cloud_account_name}:project
```



{{ .SchemaMarkdown | trimspace }}