---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

```terraform
resource "spectrocloud_cloudaccount_aws" "aws-1" {
  name           = "aws-1"
  aws_secured_access_key = var.aws_access_key # or aws_access_key=<access_key>
  aws_secret_key = var.aws_secret_key
}
```


{{ .SchemaMarkdown | trimspace }}