---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

```terraform
resource "spectrocloud_cloudaccount_vsphere" "account" {
  name                          = "vs"
  context                       = "tenant"
  private_cloud_gateway_id      = var.private_cloud_gateway_id
  vsphere_vcenter               = var.vsphere_vcenter
  vsphere_username              = var.vsphere_username
  vsphere_password              = var.vsphere_password
  vsphere_ignore_insecure_error = true
}

variable "private_cloud_gateway_id" {
  type = string
}

output "same" {
  value = spectrocloud_cloudaccount_vsphere.account.id
}
```
## Import

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import)
to import the resource {{ .Name }} by using its `id` with the Palette `context` separated by a colon. For example:

```terraform
import {
  to = {{ .Name }}.example
  id = "example_id:context"
}
```

Using `terraform import`, import the cloud account using the `cloud_account_name` or  `id` colon separated with `context`. For example:

```console
terraform import {{ .Name }}.{cloud_account_uid}/{cloud_account_name}:project
```


{{ .SchemaMarkdown | trimspace }}