---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage


```terraform

data "spectrocloud_cloudaccount_gcp" "account" {
  name = var.gcp_cloud_account_name
}

data "spectrocloud_cluster_profile" "profile" {
  name = var.gke_cluster_profile_name
}


resource "spectrocloud_cluster_gke" "cluster" {
  name             = var.cluster_name
  description = "Gke Cluster"
  tags             = ["dev", "department:pax"]
  cloud_account_id = data.spectrocloud_cloudaccount_gcp.account.id
  context = "project"

  cluster_profile {
    id = data.spectrocloud_cluster_profile.profile.id
  }

  cloud_config {
    project = var.gcp_project
    region = var.gcp_region
  }
  update_worker_pool_in_parallel = true
  machine_pool {
    name                 = "worker-basic"
    count                = 3
    instance_type        = "n2-standard-4"
  }
}

```

## Import

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import)
to import the resource {{ .Name }} by using its `id` with the Palette `context` separated by a colon. For example:

```terraform
import {
  to = {{ .Name }}.example
  id = "example_id:context"
}
```

Using `terraform import`, import the cluster using the `cluster_name` or `id` colon separated with `context`. For example:

```console
terraform import {{ .Name }}.{cluster_uid}/{cluster_name}:project
```

Refer to the [Import section](/docs#import) to learn more.

{{ .SchemaMarkdown | trimspace }}