---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage


```terraform
resource "spectrocloud_cluster_profile_import" "import" {
  import_file = "/tmp/profile_import.json"
}
```

Using `terraform import`, import the cluster profile using the `cluster_profile_name` or `id` colon separated with `context` and `version`. For example:

```console
terraform import {{ .Name }}.{cluster_profile_uid}/{cluster_profile_name}:context:version 
terraform import {{ .Name }}.{cluster_profile_uid}/{cluster_profile_name}:context 
```

Refer to the [Import section](/docs#import) to learn more.

{{ .SchemaMarkdown | trimspace }}