---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage


```terraform
data "spectrocloud_cloudaccount_aws" "account" {
  # id = <uid>
  name = var.cluster_cloud_account_name
}

data "spectrocloud_cluster_profile" "profile" {
  # id = <uid>
  name = var.cluster_cluster_profile_name
}

data "spectrocloud_backup_storage_location" "bsl" {
  name = var.backup_storage_location_name
}

resource "spectrocloud_cluster_aws" "cluster" {
  name             = var.cluster_name
  tags             = ["dev", "department:devops", "owner:bob"]
  cloud_account_id = data.spectrocloud_cloudaccount_aws.account.id

  cloud_config {
    ssh_key_name = "spectro2022"
    region       = "eu-west-1"
    vpc_id       = "vpc-0a38a86f3bf3c6cf5"
  }

  cluster_profile {
    id = data.spectrocloud_cluster_profile.profile.id

    # To override or specify values for a cluster:

    # pack {
    #   name   = "spectro-byo-manifest"
    #   tag    = "1.0.x"
    #   values = <<-EOT
    #     manifests:
    #       byo-manifest:
    #         contents: |
    #           # Add manifests here
    #           apiVersion: v1
    #           kind: Namespace
    #           metadata:
    #             labels:
    #               app: wordpress
    #               app2: wordpress2
    #             name: wordpress
    #   EOT
    # }
  }

  backup_policy {
    schedule                  = "0 0 * * SUN"
    backup_location_id        = data.spectrocloud_backup_storage_location.bsl.id
    prefix                    = "prod-backup"
    expiry_in_hour            = 7200
    include_disks             = true
    include_cluster_resources = true
  }

  scan_policy {
    configuration_scan_schedule = "0 0 * * SUN"
    penetration_scan_schedule   = "0 0 * * SUN"
    conformance_scan_schedule   = "0 0 1 * *"
  }

  machine_pool {
    additional_labels = {
      "owner"   = "siva"
      "purpose" = "testing"
      "type"    = "cp"
    }
    control_plane           = true
    control_plane_as_worker = true
    name                    = "cp-pool"
    count                   = 1
    instance_type           = "m4.large"
    disk_size_gb            = 60
    #    Add azs for dynamic provisioning
    # azs           = ["eu-west-1c","eu-west-1a"]
    #     Add az_subnet component for static provisioning
    az_subnets = {
      "eu-west-1c" = join(",", var.subnet_ids_eu_west_1c)
      "eu-west-1a" = "subnet-08c7ad2affe1f1250,subnet-04dbeac9aba098d0e"
    }
  }

  machine_pool {
    additional_labels = {
      "owner"   = "siva"
      "purpose" = "testing"
      "type"    = "worker"
    }
    name          = "worker-basic"
    count         = 1
    # optional: "enabled" to skip OS/K8s upgrade (N-3 skew)
    skip_k8s_upgrade = "disabled" 
    instance_type = "m5.large"
    #    Add azs for dynamic provisioning
    # azs           = ["eu-west-1c","eu-west-1a"]
    #    Add az_subnet component for static provisioning
    az_subnets = {
      "eu-west-1c" = "subnet-039c3beb3da69172f"
      "eu-west-1a" = "subnet-04dbeac9aba098d0e"
    }
  }

}
```

## Import

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import)
to import the resource {{ .Name }} by using its `id` with the Palette `context` separated by a colon. For example:

```terraform
import {
  to = {{ .Name }}.example
  id = "example_id:context"
}
```

Using `terraform import`, import the cluster using the `cluster_name` or  `id` colon separated with `context`. For example:

```console
terraform import {{ .Name }}.{cluster_uid}/{cluster_name}:project
```



Refer to the [Import section](/docs#import) to learn more.

{{ .SchemaMarkdown | trimspace }}
