---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Cluster Template"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

{{ tffile "examples/Cluster Configuration/Cluster Template/resource/resource.tf" }}

## Import

Cluster config templates can be imported using the template ID or template name:

```bash
terraform import spectrocloud_cluster_config_template.example <template_uid>/<template_name>:<project>/<tenant>
```

{{ .SchemaMarkdown | trimspace }}
