---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage


### Cluster Group 
An example of how to provision a Palette Cluster Group.

```hcl
resource "spectrocloud_cluster_group" "cg" {
  name = "cluster-group-demo"

  clusters {
    cluster_uid = data.spectrocloud_cluster.host_cluster0.id
    host        = "*.test.com"
  }

  clusters {
    cluster_uid = data.spectrocloud_cluster.host_cluster1.id
    host        = "*"
  }

  config {
    host_endpoint_type       = "LoadBalancer"
    cpu_millicore            = 6000
    memory_in_mb             = 8192
    storage_in_gb            = 10
    oversubscription_percent = 120
  }
}
   
```

## Import

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import)
to import the resource {{ .Name }} by using its `id` with the Palette `context` separated by a colon. For example:

```terraform
import {
  to = {{ .Name }}.example
  id = "example_id:context"
}
```

Using `terraform import`, import the cluster group using the `id` colon separated with `context`. For example:

```console
terraform import {{ .Name }}.example example_id:project
```

Refer to the [Import section](/docs#import) to learn more.

{{ .SchemaMarkdown | trimspace }}