---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

{{ tffile "examples/resources/spectrocloud_cluster_profile/resource.tf" }}

Here's an example of provisioning a cluster profile for a vSphere cluster:
```terraform
data "spectrocloud_registry" "registry" {
  name = "Public Repo"
}

data "spectrocloud_pack" "csi" {
  registry_uid = data.spectrocloud_registry.registry.id
  name    = "csi-vsphere-csi"
  version = "3.0.2"
}

data "spectrocloud_pack" "cni" {
  registry_uid = data.spectrocloud_registry.registry.id
  name    = "cni-calico"
  version = "3.26.0"
}

data "spectrocloud_pack" "k8s" {
  registry_uid = data.spectrocloud_registry.registry.id
  name    = "kubernetes"
  version = "1.27.5"
}

data "spectrocloud_pack" "ubuntu" {
  registry_uid = data.spectrocloud_registry.registry.id
  name    = "ubuntu-vsphere"
  version = "22.04"
}

resource "spectrocloud_cluster_profile" "profile" {
  name        = "vsphere-profile-tf"
  description = "basic cp"
  tags        = ["dev", "department:devops", "owner:bob"]
  cloud       = "vsphere"
  type        = "cluster"

  pack {
    name   = data.spectrocloud_pack.ubuntu.name
    tag    = data.spectrocloud_pack.ubuntu.version
    uid    = data.spectrocloud_pack.ubuntu.id
    values = data.spectrocloud_pack.ubuntu.values
  }

  pack {
    name   = data.spectrocloud_pack.k8s.name
    tag    = data.spectrocloud_pack.k8s.version
    uid    = data.spectrocloud_pack.k8s.id
    values = data.spectrocloud_pack.k8s.values
  }

  pack {
    name   = data.spectrocloud_pack.cni.name
    tag    = data.spectrocloud_pack.cni.version
    uid    = data.spectrocloud_pack.cni.id
    values = data.spectrocloud_pack.cni.values
  }

  pack {
    name   = data.spectrocloud_pack.csi.name
    tag    = data.spectrocloud_pack.csi.version
    uid    = data.spectrocloud_pack.csi.id
    values = data.spectrocloud_pack.csi.values
  }

}
```

Here's another example of a profile for an edge cluster with k3s:

```terraform
data "spectrocloud_registry" "registry" {
  name = "Public Repo"
}

data "spectrocloud_pack" "cni" {
  registry_uid = data.spectrocloud_registry.registry.id
  name    = "cni-calico"
  version = "3.26.1"
}

data "spectrocloud_pack" "k8s" {
  registry_uid = data.spectrocloud_registry.registry.id
  name    = "edge-k3s"
  version = "1.27.2"
}

data "spectrocloud_pack" "os" {
  registry_uid = data.spectrocloud_registry.registry.id
  name    = "edge-native-byoi"
  version = "1.0.0"
}

resource "spectrocloud_cluster_profile" "profile" {
  name        = "edge-profile-tf"
  description = "basic cp"
  tags        = ["dev", "department:devops", "owner:alice"]
  cloud       = "edge-native"
  type        = "cluster"

  pack {
    name   = data.spectrocloud_pack.os.name
    tag    = data.spectrocloud_pack.os.version
    uid    = data.spectrocloud_pack.os.id
    #values = data.spectrocloud_pack.os.values
    values = <<-EOT
      pack:
        content:
          images:
            - image: "{{.spectro.pack.edge-native-byoi.options.system.uri}}"
      options:
        system.uri: "{{ .spectro.pack.edge-native-byoi.options.system.registry }}/{{ .spectro.pack.edge-native-byoi.options.system.repo }}:{{ .spectro.pack.edge-native-byoi.options.system.k8sDistribution }}-{{ .spectro.system.kubernetes.version }}-{{ .spectro.pack.edge-native-byoi.options.system.peVersion }}-{{ .spectro.pack.edge-native-byoi.options.system.customTag }}"
        system.registry: HERE-GOES-YOUR-REGISTRY
        system.repo: ubuntu
        system.k8sDistribution: k3s
        system.osName: ubuntu
        system.peVersion: v4.1.2
        system.customTag: HERE-GOES-YOUR-CUSTOM-TAG
        system.osVersion: 22
    EOT
  }

  pack {
    name   = data.spectrocloud_pack.k8s.name
    tag    = data.spectrocloud_pack.k8s.version
    uid    = data.spectrocloud_pack.k8s.id
    values = data.spectrocloud_pack.k8s.values
  }

  pack {
    name   = data.spectrocloud_pack.cni.name
    tag    = data.spectrocloud_pack.cni.version
    uid    = data.spectrocloud_pack.cni.id
    values = data.spectrocloud_pack.cni.values
  }
}
```

An example of a profile for a Coxedge:
```terraform
data "spectrocloud_registry" "registry" {
  name = "Public Repo"
}

data "spectrocloud_pack" "csi" {
  name         = "csi-longhorn"
  registry_uid = data.spectrocloud_registry.registry.id
  version      = "1.5.1"
}

data "spectrocloud_pack" "cni" {
  name         = "cni-calico"
  registry_uid = data.spectrocloud_registry.registry.id
  version      = "3.26.1"
}

data "spectrocloud_pack" "k8s" {
  name         = "kubernetes-coxedge"
  registry_uid = data.spectrocloud_registry.registry.id
  version      = "1.27.2"
}

data "spectrocloud_pack" "ubuntu" {
  name         = "ubuntu-coxedge"
  registry_uid = data.spectrocloud_registry.registry.id
  version      = "20.04"
}

resource "spectrocloud_cluster_profile" "profile" {
  name        = "coxedge-profile-tf"
  description = "basic cp"
  cloud       = "coxedge"
  type        = "cluster"

  pack {
    name   = "ubuntu-coxedge"
    tag    = data.spectrocloud_pack.ubuntu.version
    uid    = data.spectrocloud_pack.ubuntu.id
    values = data.spectrocloud_pack.ubuntu.values
  }

  pack {
    name   = "kubernetes-coxedge"
    tag    = data.spectrocloud_pack.k8s.version
    uid    = data.spectrocloud_pack.k8s.id
    values = data.spectrocloud_pack.k8s.values
  }

  pack {
    name   = "cni-calico"
    tag    = data.spectrocloud_pack.cni.version
    uid    = data.spectrocloud_pack.cni.id
    values = data.spectrocloud_pack.cni.values
  }

  pack {
    name   = "csi-longhorn"
    tag    = data.spectrocloud_pack.csi.version
    uid    = data.spectrocloud_pack.csi.id
    values = data.spectrocloud_pack.csi.values
  }

}
```

{{ .SchemaMarkdown | trimspace }}
