---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Virtual Machines"
description: |-
  Manage KubeVirt data volumes attached to virtual machines in Spectro Cloud.
---

# {{.Name}} ({{.Type}})

Manage KubeVirt data volumes attached to virtual machines in Spectro Cloud.

## Example Usage

{{ tffile "examples/Virtual Machines/resource/Data Volume/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
