---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}}, Deprecated)

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

```terraform
resource "spectrocloud_macro" "project_macro" {
  name    = "project1"
  value   = "project_val2"
  project = "Default"
}

resource "spectrocloud_macro" "tenant_macro" {
  name  = "tenant1"
  value = "tenant_val1"
}
```


{{ .SchemaMarkdown | trimspace }}