---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

You can learn more about managing password policy in Palette by reviewing the [Password Policy](https://docs.spectrocloud.com/enterprise-version/system-management/account-management/credentials/#password-requirements-and-security) guide.

~> The password_policy resource enforces a password compliance policy. By default, a password policy is configured in Palette with default values. Users can update the password compliance settings as per their requirements. When a spectrocloud_password_policy resource is destroyed, the password policy will revert to the Palette default settings.

## Example Usage

An example of managing an password policy in Palette.

```hcl
resource "spectrocloud_password_policy" "policy_regex" {
  # password_regex    = "*"
  password_expiry_days = 123
  first_reminder_days = 5
  min_digits = 1
  min_lowercase_letters = 12
  min_password_length = 12
  min_special_characters = 1
  min_uppercase_letters = 1
}

## import existing password policy
#import {
#  to = spectrocloud_password_policy.password_policy
#  id = "{tenantUID}" // tenant-uid.
#}

```

{{ .SchemaMarkdown | trimspace }}