---
page_title: "Spectro Cloud Provider"
subcategory: ""
description: |-
  The Spectro Cloud provider provides resources to interact with Spectro Cloud management API (SaaS or on-prem).
---

# Spectro Cloud Provider


The Spectro Cloud provider provides resources to interact with Spectro Cloud management API (SaaS or on-prem). Review the examples.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
