---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Backup Location"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

{{ tffile "examples/Infrastructure/Backup Location/data-source/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
