---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage


You can retrieve the details of an AWS cloud registered in Palette by specifying the ID of the cloud account.

```hcl
data "spectrocloud_cloudaccount_aws" "aws_account" {
  id = "45bddf48b8fc3ea6c1774886"
}
```

Alternatively, you specify the ID of the cloud account to retrieve the details of the AWS cloud.

```hcl
data "spectrocloud_cloudaccount_aws" "aws_account" {
   name = "primary-aws-account"
}
```

{{ .SchemaMarkdown | trimspace }}