---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Cloud Accounts"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

{{ tffile "examples/Infrastructure/Cloud Accounts/data-source/Google Cloud/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}