---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}



~> The existing `filters` attribute will be deprecated, and a new `pack_filters` attribute will be introduced for advanced search functionality.

## Example Usage

~> For certain packs such as vm-migration-assistant, virtual-machine-orchestrator, vm-migration-assistant-pack, spectro-k8s-dashboard, and spectro-vm-dashboard, the `addon_type` is considered as `integration`.

{{ tffile "examples/Infrastructure/Registries/data-source/Pack/data-source.tf" }}

### Deprecated: raw `filters` string

The `filters` attribute is deprecated in favor of `advance_filters` shown above, but remains supported. It is a string that can contain multiple filters separated by the `AND`/`OR` operator, using the attributes returned in the `spec` object of the payload provided by the `v1/packs/search` endpoint. Refer to the Palette Pack Search API endpoint [documentation](https://docs.spectrocloud.com/api/v1/v-1-packs-search/) for more information on the available filters.

In this example, a filter is applied to retrieve a Calico CNI pack from the Palette OCI registry that is compatible with Edge clusters and has a version greater than 3.26.9.

```hcl
data "spectrocloud_registry" "palette_registry_oci" {
  name = "Palette Registry"
}

data "spectrocloud_pack" "cni" {
  filters = "spec.cloudTypes=edge-nativeANDspec.layer=cniANDspec.displayName=CalicoANDspec.version>3.26.9ANDspec.registryUid=${data.spectrocloud_registry.palette_registry_oci.id}"
}
```

{{ .SchemaMarkdown | trimspace }}
