---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Private Cloud Gateway"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

To learn more about Private Cloud Gateways, review the [Private Cloud Gateway](https://docs.spectrocloud.com/clusters/pcg/) documentation.

## Example Usage

{{ tffile "examples/Infrastructure/Private Cloud Gateway/data-source/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}