---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

## Example Usage

```terraform
data "spectrocloud_privatecloudgateway_dns_map" "example" {
  private_cloud_gateway_id = "pcg-uid"
  search_domain_name       = "corp.example.com"
}
```

{{ .SchemaMarkdown | trimspace }}
