---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}

To learn more about Private Cloud Gateways, review the [Private Cloud Gateway](https://docs.spectrocloud.com/clusters/pcg/) documentation.

## Example Usage


```hcl
# Retrieve details of a specific Private Cloud Gateway (PCG) by name
data "spectrocloud_private_cloud_gateway" "example_pcg" {
  name = "my-private-cloud-gateway"  # Specify the name of the PCG
}

# Output the retrieved PCG ID
output "pcg_id" {
  value = data.spectrocloud_private_cloud_gateway.example_pcg.id
}

# Output the retrieved PCG name
output "pcg_name" {
  value = data.spectrocloud_private_cloud_gateway.example_pcg.name
}

```

{{ .SchemaMarkdown | trimspace }}